.dashboard-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.dashboard-title {
  color: #4caf50;
  text-align: center;
}

.greeting {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.trip-container {
  display: flex;
  justify-content: space-between;
}

.trip-card {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffeb3b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.trip-card h2 {
  color: #ff9800;
}

.trip-card ul {
  list-style-type: none;
  padding: 0;
}

.trip-card li {
  margin: 5px 0;
}
